.bigbox-ksd {
    display: flex;
    justify-content: center;
  }

.centered-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 767px) {
    /* 작은 화면에서만 적용되는 스타일 */
    .box2 {
        margin-top: 20px; /* 위 여백 추가 */
    }
    .centered-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}