#footer {
  position: relative;
  background: #fff;
  padding: 0 0 100px;
}

#footer a {
  text-decoration: none;
  color: #222;
}

.footerBody {
  width: 100% !important;
  text-align: center;
  padding: 0 !important;
  border: 0 !important;
}

.footerBody .inner > article {
  width: 100% !important;
  text-align: center;
  padding: 0 !important;
  border: 0 !important;
}

.footerMenu {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  box-sizing: border-box;
}

.footerMenu ul {
  display: inline-block;
}

.footerMenu li {
  position: relative;
  line-height: 1;
  margin-bottom: 1em;
  display: inline-block;
  margin-right: 1em;
}

.footerAddress {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.footerLogo {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  margin-bottom: 2em;
}

.footerLogo img {
  border: none;
  max-width: 110px;
}

.footerSns img {
  border: none;
}

.footMinwon {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.footMinwon .callTxt b {
  display: block;
  font-weight: 600;
}

.footMinwon .callTxt i {
  font-style: normal;
}

.footMinwon .callNum {
  margin-left: 10px;
  font-size: 2.5em;
}

.footMinwon .txt {
  flex: 0 0 100%;
  margin-top: 5px;
}
